@import url(https://fonts.googleapis.com/css?family=Hammersmith+One);

body {
  background: rgba(0, 0, 0, 0.85);
  color: #fff;
  font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
  display: block;
  margin: 0;
  padding: 10px;
}

.logo {
  margin: 3em 0;
  width: 100px;
  height: 82px;
  fill: #fff;
  
}



.feature {
  position: absolute;
  
  left: -25em;
  top: -9em;
  right: 10em;
  z-index: -1;
  opacity: 0.13;
}

.alert {
  border-radius: 20px;
  padding: 8px 6px;
  background-color: rgba(255, 255, 255, 0.14);
  display: inline;
  overflow: hidden;
  font-size: 11px;
}

.coming-soon {
  background-color: #FF3366;
  border-radius: 20px;
  padding: 4px 8px;
}


p {
    line-height: 2;
}

h1, h2, h3 {
  margin: 5% 0 3%;
}

h1 {
  font-size: 2.3em;
}

.phone-app {
  transform: skewX(6deg);
}

input {
  font-size: 16px;
  padding: 12px;
  border: 0;
  border-radius: 4px;
}

input[type="submit" i] {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 12px 24px;
  font-weight: bold;
}

.phone-app img {
  width: 98%;
  position: relative;
  margin-top: 20px;
}

@media only screen and (min-width: 768px) {
  body {
    padding: 0;
  }

  .flex-wrapper {
    display: flex;
    justify-content: space-between;
    height: 100vh;
    overflow: hidden;
  }

  .left {
    position: relative;
    padding-left: 4em;
    max-width: 540px;
  }
  .left:before {
    content: '';
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    z-index: -1;
  }

  .right {
    background-color: #fff;
    width: 40%;
    height: 100vh;
    transform: skewX(-6deg);
    display: flex;
    justify-content: center;
    align-items: center;
    right: -4vw;
    position: relative;
  }
  .phone-app img {
    left: -228px;
  }
}

p.ribbon-link {
  text-align: center;
  color: #966429;
}


.overlay-ribbon {
  position: absolute;
  width: 10em;
  height: 5em;
  z-index: 9999;
  top: 0;
  left: 81em;
  right: 2%;
  background: red;
  padding: 5px 0;
  /* IE10 Consumer Preview */
  
  background-image: -ms-radial-gradient(center top, circle farthest-side, #6D46F40 0%, #6D46F4 100%);
  /* Mozilla Firefox */
  
  background-image: -moz-radial-gradient(center top, circle farthest-side, #6D46F4 0%, #6D46F4 100%);
  /* Opera */
  
  background-image: -o-radial-gradient(center top, circle farthest-side, #6D46F4 0%, #6D46F4 100%);
  /* Webkit (Safari/Chrome 10) */
  
  background-image: -webkit-gradient(radial, center top, 0, center top, 487, color-stop(0, #6D46F4), color-stop(1, #6D46F4));
  /* Webkit (Chrome 11+) */
  
  background-image: -webkit-radial-gradient(center top, circle farthest-side, #6D46F4 0%, #6D46F4 100%);
  /* W3C Markup, IE10 Release Preview */
  
  background-image: radial-gradient(circle farthest-side at center top, #7956f5, #6D46F4);
  -webkit-box-shadow: -5px 21px 28px -4px rgba(0, 0, 0, 0.43);
  -moz-box-shadow: -5px 21px 28px -4px rgba(0, 0, 0, 0.43);
  box-shadow: -5px 21px 28px -4px rgba(0, 0, 0, 0.43);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  
  animation: slidein 3s ease-in-out forwards;
}

.ribbon-content {
  z-index: 99999;
  position: relative;
  margin: 0 5px;
}



.ribbon-content h3 {
  margin: 0;
  padding: 5px 0 5px 0;
  line-height: 16px;
  font-family: 'Hammersmith One', sans-serif;
  color: #fff;
  text-align: center;
  position: absolute;
  top: 1.2em;
  right: 0.4em;
}

.ribbon-content > p,
.ribbon-content > p span {
  color: #fff;
  margin: 0;
  padding: 0;
  positon: absolute;
  top: 5em;
}

.ribbon-content p span {
  display: block;
}

.close-x {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 99;
}

.close-x a:link,
.close-x a:visited {
  background: #8c6ef7;
  color: #fff;
  padding: 0 5px;
  font-weight: normal;
  text-decoration: none;
}

.close-x a:hover {
  background: #FF3366;
}

.overlay-ribbon:before {
  content: "";
  position: absolute;
  bottom: -9em;
  left: 0;
  width: 0;
  height: 0;
  border-top: 10em solid #6D46F4;
  border-right: 10em solid transparent;
  z-index: 997;
}

.overlay-ribbon:after {
  content: "";
  position: absolute;
  bottom: -9em;
  right: 0;
  width: 0;
  height: 0;
  border-top: 10em solid #6D46F4;
  border-left: 10em solid transparent;
  z-index: 998;
}

.slideout {
  animation: slideout 1s ease-in-out forwards;
}

.ribbon-content p {
    position: absolute;
    top: 4em;
}

.ribbon-link a {
    color: black;
}
@-webkit-keyframes slidein {
  from {
    transform: translate(0, -400px);
  }
  to {
    transform: translate(0, 620px);
  }
}

@-o-keyframes slidein {
  from {
    transform: translate(0, -400px);
  }
  to {
    transform: translate(0, 620px);
  }
}

@-moz-keyframes slidein {
  from {
    transform: translate(0, -400px);
  }
  to {
    transform: translate(0, 620px);
  }
}

@keyframes slidein {
  from {
    transform: translate(0, -400px);
  }
  to {
    transform: translate(0, 620px);
  }
}

@-webkit-keyframes slideout {
  from {
    transform: translate(0, 620px);
  }
  to {
    transform: translate(0, -400px);
  }
}

@-o-keyframes slideout {
  from {
    transform: translate(0, 620px);
  }
  to {
    transform: translate(0, -400px);
  }
}

@-moz-keyframes slideout {
  from {
    transform: translate(0, 620px);
  }
  to {
    transform: translate(0, -400px);
  }
}

@keyframes slideout {
  from {
    transform: translate(0, 620px);
  }
  to {
    transform: translate(0, -400px);
  }
}
